@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Sign in Style*/

#account-bg {
      width: 100%;
      height: 100vh;
      background: url(airplane.jpg);
      background-size: cover;
      background-position: center;
      position: relative;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    width: 50%;
    height: 100vh;
    background: rgba(86, 86, 86, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    margin: auto;
    padding: 10px;
}

.container .signin{
    width: 50%;
}

.container .signin h2{
    color: #32596e;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid rgb(45, 43, 131);
    display: inline-block;
    letter-spacing: 1px;
}

.container .signin .inputBox p{
    color: #32596e;
}

.container .signin .inputBox p a{
    color: rgb(57, 55, 145);
}

.container .signin .inputBox span{
    color: #32596e;
    margin-bottom: 5px;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}

.container .signin .inputBox input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #32596e;
    border-radius: 30px;
}

.container .signin .inputBox input[type="submit"] {
    background: rgb(57, 55, 145);
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 10px;
}

.container .signin .inputBox input[type="submit"]:hover{
    background: rgb(45, 43, 131);
}

.container .signin .remember{
    margin-bottom: 10px;
    color: #32596e;
    font-weight: 400;
    font-size: 14px;

}

.container .signin h3{
    color: #32596e;
    text-align: center;
    margin: 40px 0 10px;
    font-weight: 500;
}

.container .signin .scm{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .signin .scm li{
    list-style: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #32596e;
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
}

.container .signin .scm li:hover{
    background: rgb(45, 43, 131);
}

.container .signin .scm li img {
    transform: scale(0.8);
    filter: invert(1);
}

@media(max-width :800px){
    
    .container{
        width: 100%;
    }
}

/* Registration Style*/

.container .signup{
    width: 50%;
}

.container .signup h2{
    color: #32596e;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid rgb(45, 43, 131);
    display: inline-block;
    letter-spacing: 1px;
}


.container .signup .inputBox span{
    color: #32596e;
    margin-bottom: 5px;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}


.container .signup .inputBox input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #32596e;
    border-radius: 10px;
}

.container .signup .inputBox input[type="submit"] {
    background: rgb(57, 55, 145);
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

.container .signup .inputBox input[type="submit"]:hover{
    background: rgb(45, 43, 131);
}

.container .signup .notify{
    margin-bottom: 20px;
    margin-top: 10px;
    color: #32596e;
    font-weight: 400;
    font-size: 14px;

}